

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

body {
  background-color: rgba(237,237,237);
}

h1 {
    font-family: arial;
    font-size: 35px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

pre {
  font-family: verdana;
  font-size: 15px;
}

#texto {
  border:5px lightblue groove;
  border-radius:8px;
  width:350px;
  height:190px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: DarkSalmon;
  color: black;
}

.c {
    text-align: right;
  }